h1 {
  color: blue;
}

.cheap {
  color: blue;
}

.fancy {
  color: orange;
}

.keg-form {
  margin-top: 80px;
}

button {
  margin-top: 25px;
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 50px;
}

.lowKeg {
  color: red;
  font-size: 1.5em;
}

.create {
  margin-top: 25px;
  height: 30px;
  width: 75px;
  border: none;
  background: red;
}
